<% meta_tag :description, "#Мій Університет - зручний розклад занять" %>
<% meta_tag :keywords, "Розклад,Расписание" %>
<% @title = "Розклад 'Мій Університет'" %>

<%= render "layouts/header" %>

<main class="container" role="main">
	<div class="mx-auto col-md-8">
		<div class="card mb-3">
			<div class="card-header">
				<h1 display-3 class="mt-0">Мій Університет</h1>
				<h6 class="card-subtitle mb-2 Text-light font-weight-light">Розклад</h6>
			</div>
			<div class="card-body">
				<div class="card-text">
					<ul class="list-group list-group-flush">

						<li class="list-group-item border-0">
							<span class="align-middle">
								<i class="fas fa-users"></i>
								<%= link_to "Групи", groups_url, class: "ml-2" %>	
							</span>
						</li>

						<li class="list-group-item border-0">
							<span class="align-middle">
								<i class="fas fa-chalkboard-teacher"></i>
								<%= link_to "Викладачі", teachers_url, class: "ml-2" %>
							</span>
						</li>

						<li class="list-group-item border-0">
							<span class="align-middle">
								<i class="fas fa-door-open"></i>
								<%= link_to "Аудиторії", classrooms_url, class: "ml-2" %>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>

<%= render "layouts/footer" %>
